################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/TypeScriptHTMLApp1/bin
/TypeScriptHTMLApp1/obj/Debug
/.vs
